body {
    font-family: "Arial";
    background-color: #8dc63f;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0 15px;
    margin: auto;
    max-width: 960px;
    background-color: #fff;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

.header p {
    margin: 0;
}

.flex-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.logo {
    column-gap: 34px;
}


.logo p {
    text-align: center;
    margin: 0;
    font-size: 22rem;
    color: #39930d;
}

.logo b {
    display: block;
    font-size: 44rem;
}

.ball {
    width: 100rem;
    height: 101rem;
}

.contacts p {
    font-size: 22rem;
    color: #39930d;
    text-align: center;
}

.logo i,
.contacts i {
    display: block;
    font-size: 14rem;
    color: #5a5a5a;
}

.menu {
    width: 100%;
}

.menu p {

    padding: 16px;
    margin: 0;
    font-size: 18rem;
    color: #fff;
    background-color: #39930d;
}


.main-img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}

.footer {
    padding: 15px;
    margin: 0 -15px;
    background-color: #39930d;
    font-size: 14rem;
    color: #fff;
}

.main {
    padding: 25rem 0 29rem;
    flex-wrap: wrap-reverse;
}

.main h1 {
    font-size: 24rem;
    color: #39930d;
}



.menu > li > a {
    font-size: 7rem;
    text-decoration: underline;
    color: #39930d;
    list-style: none;
}
.main_text p {
    font-size: 18rem;
    line-height: 1.5em;
    color: #343434;
}

.main_text {
    max-width: 584px;
}

.header {
    padding: 25px 0;
}

.menu p {
    padding: 20px 11px;
}
.menu ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}
.menu a {
    font-size: 14rem;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

@media screen and (min-width: 620px) {
    .logo {
        text-align: left;
    }
    .contacts {
        text-align: right;
    }
}
@media screen and (min-width: 768px) {
    .flex-block {
        justify-content: space-between;
    }
    .main {
        flex-wrap: nowrap;
    }
    html {
        font-size: 1.2px;
    }
}
@media screen and (min-width: 1024px) {
    html {
        font-size: 1px;
    }
}
@media screen and (min-width: 1440px) {
    html {
        font-size: 1.4px;
    }
}
@media screen and (min-width: 2560px) {
    html {
        font-size: 2.5px;
    }
}

